@model List<CelulaViewModel>
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h2>Listagem de Celulas</h2>
<a class="btn btn-outline-light" href="/celula/create">Novo Registro</a>
<br />
<br />
<table class="table table-responsive">
    <tr>
        <th>ID</th>
        <th>EquipamentoID</th>
        <th>Peso</th>
        <th>Posicao</th>
        <th>Ações</th>
    </tr>
    @foreach (var celula in Model)
    {
        <tr>
            <td>@celula.Id</td>
            <td>@celula.EquipamentoID</td>
            <td>@celula.Peso</td>
            <td>@celula.Posicao</td>
            <td>
                <a class="btn btn-outline-warning" href="/celula/Edit?id=@celula.Id">Editar</a>
                <a class="btn btn-outline-danger" href="javascript:apagarCelula(@celula.Id)">Apagar</a>
            </td>
        </tr>
    }
</table>
<script>
    function apagarCelula(id) {
        if (confirm('Confirma a exclusão do registro?'))
            location.href = 'celula/Delete?id=' + id;
    }
</script>