@model List<EquipamentoViewModel>
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h2 class="text-white">Listagem de Equipamentos</h2>
<a class="btn btn-light my-3" href="/equipamento/create">Novo Registro</a>
<table class="table table-responsive text-white">
    <tr>
        <th>Id</th>
        <th>CaminhaoID</th>
        <th>QtdBalanca</th>
    </tr>
    @foreach (var equip in Model)
    {
        <tr>
            <td>@equip.Id</td>
            <td>@equip.CaminhaoID</td>
            <td>@equip.QtdBalanca</td>
            <td>
                <a href="/equipamento/Edit?id=@equip.Id"><img src="~/img/edit.png" style="width: 35px;" /></a>
                <a href="javascript:apagarEquipamento(@equip.Id)"><img src="~/img/delete.png" style="width: 35px;" /></a>
            </td>
        </tr>
    }
    @if (Model.Count() == 0)
    {
        <tr>
            <td>
                Nenhum registro encontrado.
            </td>
        </tr>
    }
</table>
<script>
    function apagarEquipamento(id) {
        if (confirm('Todos os registros deste equipamento serão excluídos! Confirma exclusão?'))
            location.href = 'equipamento/Delete?id=' + id;
    }
</script>
<script type="text/javascript">
    $(document).ready(function () {
        if ('@Html.Raw(ViewBag.Erro)'.length == 0) {
            swal({
                title: "Sucesso",
                text: "@Html.Raw(ViewBag.Sucesso)",
                icon: "success",
                button: "OK",
            });
        } else {
            swal({
                title: "Error",
                text: "@Html.Raw(ViewBag.Erro)",
                icon: "error",
                button: "OK",
            });
        }
    })
</script>
